<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Most Followed on Instagram</title>
</head>
<body>
<h1 id="heading">Most Followed on Instagram</h1>
<form><center>
    <input type="submit" value="Go to the dashboard" class="button" formaction="code1"/></center>
</form>
</body>
<style>
    #heading{
        background-color: lavender;
        color: black;
        padding: 60px;
        font-size: 80px;
        text-align: center;
        color: dodgerblue;
    }
    .button{
        background-color: violet;
        border: none;
        color: white;
        font-size: 40px;
        padding: 16px 32px;
        text-decoration: none;
        margin: 14px 12px;
        cursor: pointer;
     }
     </style>
</html>

